/* ============================================= */
/*              Variables                        */
/* ============================================= */

// Colors
$white: #fff;
$color-primary: #58e1c1;
$color-secondary: #777;
$color-bg: #51ddfc;
$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warn: #fd7856;

$color-bg-lighten: lighten($color-bg, 15%);
$color-error-lighten: lighten($color-error, 15%);
$color-info-lighten: lighten($color-info, 15%);
$color-success-lighten: lighten($color-success, 15%);
$color-warn-lighten: lighten($color-warn, 15%);

// Breakpoints
$break: 768px;

// Theme Colors
$themes: (
    'col-1' : $color-info,
    'col-2' : $color-warn,
    'col-3' : #deb2ee,
    'col-4' : #7ee6fd,
    'col-5' : #88d9a0,
    'col-6' : #4da2bb,
    'col-7' : #ec9fa3,
    'col-8' : #fd9f85,
    'col-9' : $color-error,
   'col-10' : $color-success,
   'col-11' : $color-bg,
   'col-12' : #80e8d1,
);